#p3000,
#p4000 {
  display: inline-block;
  width: 500px;
  height: 500px;
  border: 1px solid red;
}

.sonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.App {
  padding: 30px;
}

.btnzone {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.microAppBox {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.microAppContainer {
  width: 35%;
  height: 500px;
  border: 1px solid blue;
}
